@charset 'utf-8';
/* CSS Document */
*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #333;
}
body{
    width: 1000px;
    height: 650px;
    background-color: #fff;
    font-size: 20px;
}
a{
    text-decoration: none;
    display: block;
}

header{
    float: left;
    position: absolute;
}

.top{
    float: left;
    height: 650px;
    width: 200px;
}

.logo{
    float: left;
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu{
    float: left;
    position: absolute;
    top: 100px;
    left: 10px;
    text-align: center;
    z-index: 1;
}

.navi > li{
    float: left;
    width: 180px;
}

.navi > li > a{
    float: left;
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

.navi > li > a:hover{
    background-color: #eee;
    color: #000;
}

.submenu{
    float: left;
    width: 180px;
    height: 100%;
    left: 180px;
    top: 0px;
    position: absolute;
    background-color: #ccc;
    display: none;
    z-index: 1;
}

.submenu > li > a{
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    background-color: #ccc;
    color: #fff;
}

.submenu > li > a:hover{
    background: #999;
    color: #ffff00;
}

.Wrap{
    float: right;
    width: 800px;
}

.imgSlide{
    width: 800px;
    height: 350px;
}

.contents{
    width: 800px;
    height: 200px;
}

.notice{
    float: left;
    width: 300px;
    height: 100%;
}

.gallery{
    float: left;
    width: 300px;
    height: 100%;
}

.shortcut{
    float: left;
    width: 200px;
    height: 100%;
}

footer{
    width: 800px;
    height: 100px;
}
.ftLogo{
    float: left;
    width: 200px;
    height: 100%;
}
.ftCopy{
    float: left;
    width: 400px;
    height: 100%;
}
.ftFamily{
    float: left;
    width: 200px;
    height: 100%;
}